# ca-root for sign all certificates
# truststore contain only ca-root certificate
# keystore contain ca-root and broker certificates

#!/bin/bash

set -e

KEY_PASS={{KEY_PASS}}
KEYSTORE_PASS={{KEYSTORE_PASS}}
TURSTSTORE_PASS={{TRUSTSTORE_PASS}}
VALIDITY=365
CERT_DIR={{CERT_PATH}}
CA_CERT="$CERT_DIR/ca.cert"
CA_KEY="$CERT_DIR/ca.key"
mkdir -p "$CERT_DIR"

BROKERS=({% for host in groups['all'] %}"{{ hostvars[host]['inventory_hostname'] }}"{% if not loop.last %} {% endif %}{% endfor %})

echo "[+] Creating CA-ROOT Certificate..."
openssl req -new -x509 -keyout "$CA_KEY" -out "$CA_CERT" -days "$VALIDITY" -passout pass:$KEY_PASS -subj "/CN=Kafka-CA"

for broker in "${BROKERS[@]}"; do
  echo "[*] $broker preparing for this broker..."

  # Step 1: Creating Keystore
  keytool -genkeypair \
    -alias "$broker" \
    -keyalg RSA \
    -keystore "$CERT_DIR/$broker.keystore.jks" \
    -storepass "$KEYSTORE_PASS" \
    -keypass "$KEY_PASS" \
    -dname "CN=$broker, OU=Kafka, O=Kafka, L=Baku, ST=Baku, C=AZ"

  # Step 2: Creating CSR
  keytool -certreq \
    -alias "$broker" \
    -keystore "$CERT_DIR/$broker.keystore.jks" \
    -file "$CERT_DIR/$broker.csr" \
    -storepass "$KEYSTORE_PASS"

  # Step 3: Signing with CA
  openssl x509 -req \
    -CA "$CA_CERT" \
    -CAkey "$CA_KEY" \
    -in "$CERT_DIR/$broker.csr" \
    -out "$CERT_DIR/$broker-signed.crt" \
    -days "$VALIDITY" \
    -CAcreateserial \
    -passin pass:$KEY_PASS

  # Step 4: CA and signed cert importing to keystore
  keytool -importcert \
    -keystore "$CERT_DIR/$broker.keystore.jks" \
    -alias CARoot \
    -file "$CA_CERT" \
    -storepass "$KEYSTORE_PASS" -noprompt

  keytool -importcert \
    -keystore "$CERT_DIR/$broker.keystore.jks" \
    -alias "$broker" \
    -file "$CERT_DIR/$broker-signed.crt" \
    -storepass "$KEYSTORE_PASS"

done

  # Step 5: Creating Truststore and import CA
  keytool -importcert \
    -keystore "$CERT_DIR/kafka.truststore.jks" \
    -alias CARoot \
    -file "$CA_CERT" \
    -storepass "$TURSTSTORE_PASS" -noprompt

echo ""
echo "✅ All Certificate and JKS successfully created !!!"