process.roles=broker,controller

node.id= {{ node_id }}
KAFKA_CLUSTER_ID={{ KAFKA_CLUSTER_ID }}

controller.quorum.bootstrap.servers={% for i in groups['all'] %}{{ hostvars[i]['inventory_hostname'] }}:{{ CONTROLLER_PORT }}{% if not loop.last %}, {% endif %}{% endfor %}

controller.quorum.voters={% for i in groups['all'] %}{{ loop.index }}@{{ hostvars[i]['inventory_hostname'] }}:{{ CONTROLLER_PORT }}{% if not loop.last %}, {% endif %}{% endfor %}

controller.listener.names=CONTROLLER

socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

num.partitions=6
num.recovery.threads.per.data.dir=1
num.network.threads=3
num.io.threads=8

offsets.topic.replication.factor=2
share.coordinator.state.topic.replication.factor=1
share.coordinator.state.topic.min.isr=1
transaction.state.log.replication.factor=2
transaction.state.log.min.isr=1

log.retention.hours=168
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000
log.dirs=/var/log/kraft-combined-logs

# Listeners
inter.broker.listener.name=PLAINTEXT
listeners={% for i in groups['all'] %}PLAINTEXT://{{ hostvars[i]['inventory_hostname'] }}:{{ BROKER_PORT }},CONTROLLER://{{ hostvars[i]['inventory_hostname'] }}:{{ CONTROLLER_PORT }}{% if not loop.last %}, {% endif %}{% endfor %}
advertised.listeners={% for i in groups['all'] %}PLAINTEXT://{{ hostvars[i]['inventory_hostname'] }}:{{ BROKER_PORT }}
