security.protocol=SSL
ssl.endpoint.identification.algorithm=

# SSL Keystore Configuration
ssl.keystore.type={{ SSL_KEYSTORE_TYPE | default('JKS') }}
{% if SSL_KEYSTORE_TYPE == 'PEM' %}
ssl.keystore.location={{ KEYSTORE_PATH }}/{{ansible_hostname}}.pem
{% else %}
ssl.keystore.location={{ KEYSTORE_PATH }}/{{ansible_hostname}}.keystore.jks
ssl.keystore.password={{ KEYSTORE_PASS }}
ssl.key.password={{ KEY_PASS }}
{% endif %}

# SSL Truststore Configuration
ssl.truststore.type={{ SSL_TRUSTSTORE_TYPE | default('JKS') }}
{% if SSL_TRUSTSTORE_TYPE == 'PEM' %}
ssl.truststore.location={{ TRUSTSTORE_PATH }}/ca.cert
{% else %}
ssl.truststore.location={{ TRUSTSTORE_PATH }}/kafka.truststore.jks
ssl.truststore.password={{ TRUSTSTORE_PASS }}
{% endif %}
